main {
  background: #f3f4f6;
  grid-area: main;
}

.main__container {
  margin: auto;
}
.profile-logo{
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
  margin-bottom: 2rem;
}
.profile-data {
  margin-top: 3rem;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
}
.profile-data {
  padding-top: 5rem;
  padding-left: 5rem;
  align-items: center;
  max-width: 50rem;
  height: 50rem;
  text-align: center;
}
.profile-data > p {
  text-align: left;
  font-size: large;
  font-weight: 500;
}
.profile-data > b {
  text-align: left;
  font-size: large;
  font-weight: 700;
}
